@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


html {
    height: 100%;
    width: 100%;
  }

* {
   
  margin: 0;
  padding: 0;
}
body{
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2B2E4A;
   
   
}

footer{
  
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: x-large;
    height: 70px;
    color: white;
    border-radius: 15px 15px 0px 0px;

    z-index: 10;
    /* background-image: linear-gradient(to bottom right, #667eea, #764ba2); */
    box-shadow: 2px 2px 7px 01px rgba(0,0,0,0.8);
}

.colorDark{
    background-color: #2B2E4A;

}

.centerText{
    display: flex;
    justify-content: center;
    margin-top: 20px;

   
}

.gridNav{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
nav{
    position: fixed;
    z-index: 3;
    width: 100%;
    font-size: x-large;
    height: 80px;
    color: white;
    border-radius: 0px 0px 15px 15px;
    /* background-image: linear-gradient(to bottom right, #667eea, #764ba2); */
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.8);
    
}

li a{
    
    color: white;
    text-decoration: none;
}
ul{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

li{
   
    list-style-type: none;
}

@keyframes menudown{
    0%{
        top: 50%;
 
    }
    100%{
        top: 100%;
   
    }
   

}

.darkermenu1{
    position: fixed;
    display: none;
    z-index: 4;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .3;
}
.MenuBuy{
    display: none;
    border-radius: 35px 35px 0px 0px;
    height: 60%;
    width: 100%;
    position: fixed;
    top: 30%;
    z-index: 5;
    background-color: #2B2E4A;
    animation: buyup 0.3s ;
}


@keyframes buyup{
    0%{
        
        top: 100%;

    }
    100%{
      
        top: 30%;
    }  
   

}
@keyframes buydown{
    0%{
        
        top: 30%;

    }
    100%{
      
        top: 100%;
    }  
   

}
.buyform{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.buyform input[type="number"]{
    width: 50%;
    color: white;
    border-image-width: 0px 0px 3px 0px;
    background-color: transparent;
    border-image-source:  linear-gradient(to bottom right, #667eea, #764ba2);
    border-image-slice: 1;
   
}

.buybutton input[type="number"]:focus{
    outline: none;
}
.textcenter{
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.buybutton{
    color: white;
    border: none;
    width: 40%;
    margin-top: 20px;
    border-radius: 15px;
    height: 40px;
}
.buybutton {background-image: linear-gradient(to right, #876df5 0%, #8f94fb 51%, #a8c0ff 100%)}
.buybutton:focus{
    outline: none;
}
.buytext{
    margin-top: 20px;
    width: 100%;
}
.centerbuy{
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.MenuInfo{
    display: none;
    border-radius: 35px 35px 0px 0px;
    height: 50%;
    width: 100%;
    position: fixed;
    top: 50%;
    z-index: 20;
    background-color: #2B2E4A;
    animation: menuup 0.3s ;
}
@keyframes menuup{
    0%{
        top: 100%;

    }
    100%{
        top: 50%;
    }  
   

}
.darkermenu{
    position: fixed;
    display: none;
    
    z-index: 10;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .3;

}


.menutext{
    
    line-height: 30px;
    position: absolute;
    color: white;
    top: 70px;
    left: 20px;
}

.iconnav{
    width: 30px;
    filter: invert(56%) sepia(0%) saturate(30%) hue-rotate(195deg) brightness(90%) contrast(84%);

}
.iconclose{
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 20;
    top: -120px;
    right: 10px;
}

.iconuser{
    height: 100%;
    width: 40px;
}

.iconUser{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
.active{
   
    filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%); 

}
.cardgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 30px;
}

.cardtable{
    color: white;
    grid-column-start: 2;
    margin-top: 150px;
    margin-bottom: 10px; 
    min-width: 300px;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-height: 150px;  
    height: auto;
}

.card1 {
    color: white;
    grid-column-start: 2;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 15px;
    margin-bottom: 10px; 
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;  
    max-height: 100px;

}

.card2 {
    color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 15px;

    min-width: 300px;
    max-width: 30px;
    min-height: 150px;  
    max-height: 100px;
}

.card3 {
    color: white;
    grid-column-start: 2;
 
    grid-row-start:  3;
    grid-row-end: 3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 15px;
    margin-top: -150px;
   
    min-width: 300px;
    max-width: 30px;
    min-height: 150px;  
    max-height: 100px;

}

.rotateup{
    display: flex;
    justify-content: end;
    grid-column-start: 4;
    width: 38px;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(img/arrowup.png);
}

.rotatedown{
    display: flex;
    justify-content: end;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 38px;
    background-image: url(img/arrowdown.svg);
}


.fontbig{
    font-size: x-large;
}
.gridprofittext{
    font-size: large;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridprofittex2{
    margin-top: 10px;
    font-size: large;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;

}
.gridinfotext{
    font-size: large;
    grid-column-start: 1;
    grid-column-end:  3;
}

.gridinfotext2{
    margin-top: 10px;
    font-size: large;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end:  3;
}
.gridprofit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}


.center{
    text-align: center;
}

.containercard {
    padding: 20px ;
   
}

.border1{
    border-radius: 15px 0px 0px 15px;
}
.border2{
    border-radius: 0px 15px 15px 0px;
}
th{
    
    background-color: #667eea;
    /* background-image: linear-gradient(to bottom right, , #764ba2); */
    height:30px;
    
}

td,th{
    height:40px;
}

td{
    
    text-align: center;
}
table{
    width:100%;
    border-collapse: collapse;
}

@media(max-width:400px){
    
    .card1 {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 100%;
    }
    .card2 {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 100%;
    }
    .card3 {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 100%;
    }
}

@media screen and  (display-mode:standalone){
    header{
        height: 88px imp !important;
    }
}